..\..\..\..\c:\Users\regin\Dropbox\react-native-video-player-no-linking\.vscode
..\..\..\..\c:\Users\regin\Dropbox\react-native-video-player-no-linking\.expo
..\..\..\..\c:\Users\regin\Dropbox\react-native-video-player-no-linking\.eslintrc.json
..\..\..\..\c:\Users\regin\Dropbox\react-native-video-player-no-linking\.babelrc
..\..\..\..\c:\Users\regin\Dropbox\react-native-video-player-no-linking\app.json
..\..\..\..\c:\Users\regin\Dropbox\react-native-video-player-no-linking\gulpfile.js
..\..\..\..\c:\Users\regin\Dropbox\react-native-video-player-no-linking\yarn-error.log
..\..\..\..\c:\Users\regin\Dropbox\react-native-video-player-no-linking\yarn.lock
